<%- include('partials/header')%>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="text">Featured Switches</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
              <img class="card-img-top" src="https://massdrop-s3.imgix.net/product-images/massdrop-x-invyr-holy-panda-mechanical-switches/FP/DwYWcr96TM2KkNmnQAFe_PC.png?bg=f0f0f0" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Holy Pandas</h5>
                <p class="card-text">A community favorite tactile switch with a very pronounced, short, but rounded tactile bump.</p>
                <a href="#" class="btn btn-primary">Look at recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer')%>