<%- include('partials/header')%>
<div class="jumbotron">
  <h1>Featured Switches</h1>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://massdrop-s3.imgix.net/product-images/massdrop-x-invyr-holy-panda-mechanical-switches/FP/DwYWcr96TM2KkNmnQAFe_PC.png?bg=f0f0f0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Holy Pandas</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
<%- include('partials/footer')%>
